body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    color: blue;
}

img {
    height: auto;
    width: 300px;
}

ul.recipe-title {
    list-style-type: none;
}

.recipe-title li{
    background-color: rgb(199, 193, 193);
    border: 1px solid black;
    padding: 5px;
    margin: 1em auto;
    font-weight: bold;
}

.recipe-title li a {
    text-decoration: none;
    color: rgb(50, 152, 199);
}